<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <title>Log in</title>
</head>

<body>
<section layout:fragment="~{app-content}">
    <div class="content">
        <h1>Log in</h1>
        <p>
            Welcome back!
        </p>
        <p class="is-size-7">
            Are you new here? Register <a th:href="@{/register}">here</a>!
        </p>

        <div class="container is-max-desktop">
            <div th:if="${param.registered}" class="notification is-success">
                You have successfully registered! You may now log in.
            </div>
            <div th:if="${param.error}" class="notification is-danger">
                There was an error with your login. Please make sure your username and password are correct.
            </div>

            <form method="post" th:action="@{/login}" class="form-horizontal">
                <fieldset>
                    <div class="field">
                        <label class="label" for="username">Username</label>
                        <div class="control">
                            <input id="username" name="username" type="text" class="input">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="password">Password</label>
                        <div class="control">
                            <input id="password" name="password" type="password" class="input">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary">Log in</button>
                        </div>
                    </div>

                    <div class="field">
                        <label class="checkbox">
                            <input id="remember-me" name="remember-me" type="checkbox"/>
                            Remember me
                        </label>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
</body>

</html>
